
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --accent-color: #ffc107;
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #6c757d;
    --gray-dark-color: #343a40;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    background-color: #fff;
  }

  body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }

h3, h4, h5, h6 {
    font-family: 'BPG Nino Mtavruli', sans-serif;
    font-weight: bold;
    margin: 1rem 0;
    color: var(--primary-color);
  }  
  h1, h2 {
    font-family: 'BPG LE Studio 02 Caps', sans-serif;
    font-weight: bold;
    margin: 1rem 0;
    color: var(--primary-color);
  }
    
  h1 {
    font-size: 2.5rem;
}

  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
  }
  
  p {
    font-family: "BPG LE Studio 02", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
    color: var(--secondary-color);
  }

  .example-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 500px;
    border: 1px solid #3c64b1;
    padding: 30px;
    border-radius: 30px;
    background-color: bisque;
    color: #3c64b1;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0;
    animation: fade-in 1s ease-in-out 2s forwards;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  

  .form-group {
 
    margin: 20px auto;
    /* border: 1px solid #3c64b1; */
    padding: 10px;
    width: 100%;
  }
  
  .radio-group, .checkbox-group, .text-group {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 10px;
    /* background-color: bisque; */
    min-width: 100%;
  }
  .text-group{
    flex-direction: column;
    min-width: 100%;

  }

  .text-group input {
    width: 100%;
    padding: 10px;
    /* border: 1px solid #3c64b1; */
    border-radius: 5px;
    margin-top: 10px;
  }
  .radio-group {
    justify-content: space-between;
  }
  .checkbox-group{
    flex-direction: column;
  }
  .radio-group input[type="radio"], 
  .checkbox-group input[type="checkbox"],
  .text-group input {
    /* margin-right: 10px; */
    /* background-color: bisque; */
    opacity: 0.5;
  }
  
  input[type="checkbox"], input[type="radio"] {
      
  }
  
  button[type="reset"], button[type="submit"] {
    margin-right: 10px;
    border: none;
    background-color: #3c64b1;
    color: bisque;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    margin-top: 3px;
  }
  
  button[type="reset"]:hover, button[type="submit"]:hover {
    background-color: #1a306c;
  }